<h1 class="text-center">Welcome to Blackjack</h1>

<p> Do you want to play Blackjack?</p>

<form action='/new_game' method='post'>
	<input type="button" class="btn btn-success" name="Yes" value="Yes"\>
	<input type="button" class="btn btn-warning" name="No" value="No"\>
</form>
