<h1 class="text-center">Welcome to Blackjack</h1>

<p> Do you want to play Blackjack?</p>

<form action='/new_game' method='post'>
	<button type="submit" class="btn" name="game" value="yes">Yes</button>
	<button type="submit" class="btn" name="game" value="no">No</button>
</form>

